.app {
  max-width: 960px;
  margin-inline: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 400;
  font-size: 96px;
  line-height: 156px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-self: flex-start;
}